html, body
{
    height: 100%;
}
*
{
    padding: 0;
    margin: 0;
}
body
{
    background: white;
}
#body
{
    width: auto;
    padding: 0;
    margin: 0;
}
header, footer
{
    display: none;
}
.tabpagescrollinglayer
{
    clear: both;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative;
}
.content
{
    padding: 10px;
}
.title
{
    background: url("../umbraco_client/tabView/images/background.gif") 0 18px repeat-x;
    border-top: 1px solid #CAC9C9;
    border-bottom: 1px solid #CAC9C9;
    display: block;
    height: 50px;
    margin: 0;
    padding: 0;
    width: auto;
}
.header
{
    background: url("../umbraco_client/tabview/images/bg.gif") repeat-x scroll center bottom #FFFFFF;
    float: left;
    font-family: "Trebuchet MS" ,verdana,arial;
    font-size: 11px;
    font-weight: normal;
    line-height: normal;
    width: 100%;
    margin-left: -1px;
    margin-right: -1px;
    position: relative;
}
.header ul
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.header li
{
    display: inline;
    margin: 0;
    padding: 0;
}
.header a
{
    background: url("../umbraco_client/tabview/images/left_both.gif") no-repeat scroll left top transparent;
    border-bottom: 1px solid #CAC9C9;
    float: left;
    margin: 0;
    outline: medium none;
    padding: 0 0 0 9px;
    text-decoration: none;
}
.header a span
{
    background: url("../umbraco_client/tabview/images/right_both.gif") no-repeat scroll right top transparent;
    color: #65787A;
    display: block;
    float: left;
    font-weight: bold;
    padding: 4px 15px 0 6px;
}
.header a span
{
    float: none;
}
.header a:hover span
{
    color: #333333;
}
.header a:hover
{
    background-position: 0 -150px;
}
.header a:hover span
{
    background-position: 100% -150px;
}
.header ul li.tabOn a
{
    background-position: 0 -150px;
    border-width: 0;
}
.header ul li.tabOn a span
{
    background-position: 100% -150px;
    color: #333333;
    padding-bottom: 1px;
}
.header .top
{
    position: absolute;
    top: 0;
    right: -2px;
    width: 2px;
    height: 19px;
    display: block;
    background: url('images/top.jpg') 0 0 no-repeat;
}
.container
{
    min-height: 100%;
    border-left: 1px solid #CAC9C9;
    border-right: 1px solid #CAC9C9;
    width: auto;
}
.main
{
    overflow: auto;
    padding-bottom: 14px;
}
.footer
{
    position: relative;
    margin-top: -18px;
    height: 17px;
    clear: both;
    border-bottom: 1px solid #CAC9C9;
    position: relative;
}
.footer .left
{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 6px;
    height: 12px;
    display: block;
    background: url('images/bottom-left.gif') 0 0 no-repeat;
}
.footer .right
{
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 6px;
    height: 12px;
    display: block;
    background: url('images/bottom-right.gif') 0 0 no-repeat;
}
