@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Section.cshtml";
}

<div class="container">
    <div class="header">
        <ul>
            <li class="tabOn">
                <a href="#" >
                    <span>Post</span>
                </a>
            </li>
        </ul>
        <div class="top">
        </div>
    </div>
    <div class="title">
    </div>
    <div class="wrap">
        <div class="content tabpagescrollinglayer" id="tabSection">


            @Umbraco.Field("body")

            <div id="topics">
                <div id="topic">
                    <h3><span data-bind="text: Name"></span></h3>
                    <label data-bind="date: CreatedDate"></label>
                    <label data-bind="text: User">
                    </label>
                    <div data-bind="text: Description"></div>
                    <div data-bind="visible: IsOwner && posts().length == 0">
                        <button class="btn btn-primary"  data-bind="click: deleteTopic">
                            Delete Topic
                        </button>
                    </div>
                </div>
                <div id="posts">
                    <div  data-bind="foreach: posts">
                        <div data-bind="text: Message">
                        </div>
                        <div data-bind="visible: IsOwner">
                            <button class="btn btn-primary"  data-bind="click: $root.deletePost">
                                Delete Post
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="control-group">
                            <label class="control-label" for="comment">
                                Comment</label>
                            <div class="controls">
                                <textarea id="comment" name="comment" placeholder="Comment" rows="10" cols="50" maxlength="500" ></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-primary" data-bind="click: savePost">
                                    Add Comment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="left">
    </div>
    <div class="right">
    </div>
</div>


@section script
{
    <script type="text/javascript">
        $(document).ready(function () {
            function PostViewModel(topic, posts) {
                var self = this;
                self.Id = topic.Id;
                self.Name = topic.Name;
                self.User = topic.User;
                self.Description = topic.Description;
                self.CreatedDate = topic.CreatedDate;
                self.IsOwner = topic.IsOwner;

                self.deleteTopic = function () {
                    $.post('/umbraco/surface/HelperSurface/DeleteTopic', { id: $.urlParam('id') }, function (data) {
                        parent.right.document.location.href = '/messageboard.aspx';
                    });
                };

                self.deletePost = function (post) {
                    $.post('/umbraco/surface/HelperSurface/DeletePost', { id: post.Id }, function (data) {
                        self.posts.remove(post);
                    });
                };

                self.posts = ko.observableArray(ko.utils.arrayMap(posts, function (post) {
                    return { Id: post.Id, Message: post.Message, User: post.User, CreatedDate: post.CreatedDate, IsOwner: post.IsOwner };
                }));

                self.savePost = function () {
                    $.post('/umbraco/surface/HelperSurface/SetPost', { message: $('#comment').val(), topicid: $.urlParam('id') }, function (data) {
                        self.posts.unshift({ Id: data.Id, Message: data.Message, User: data.User, CreatedDate: data.CreatedDate, IsOwner: data.IsOwner });
                        $('#comment').val('');
                        Notification(data.TopicId, data.Id);
                    });
                };
            }

            function GetPost() {
                var id = $.urlParam('id');
                $.get('/umbraco/surface/HelperSurface/GetPost', { id: id }, function (data) {
                    ko.applyBindings(new PostViewModel(data.topic, data.posts));
                });
            }

            function Notification(topicId, postId) {
                $.post('/umbraco/surface/HelperSurface/NotificationMessasge', { topicId: topicId, postId: postId }, function (data) {

                });
            }

            GetPost();
        });
    </script>
}