@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Section.cshtml";
}
<table cellspacing="0" cellpadding="0" style="height: auto; width: 100%; border: none 0px; ">
    <tbody>
        <tr valign="top">
            <td height="20">
            </td>
            <td>
                <div style="height: auto; width: 100%;">
                    <div class="header">
                        <ul>
                            <li class="tabOn">
                                <a>
                                    <span>
                                        Measurements
                                    </span>
                                </a>
                            </li>
                            <li class="tabOff">
                                <a>
                                    <span>
                                        Messages
                                    </span>
                                </a>
                            </li>
                            <li class="tabOff">
                                <a>
                                    <span>
                                        Properties
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tabpagecontainer" >
                        <div class="tabpage" style="display: block;">
                            <div class="menubar">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>                                                        
                                                </td>
                                                <td>
                                                    <div style="height: 26px; width: auto;" class="slh">
                                                        <div class="sl" style="top: 0px; left: 0px; height: 26px; width: auto;" >                                                                
                                                            <!-- Aca colocar botones -->
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                        
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div style="height: auto; width: auto;"  class="tabpagescrollinglayer">
                                <div style="text-align: center;" class="tabpageContent">
                                </div>
                            </div>
                        </div>                          
                    </div>
                    <div class="footer">
                        <div class="status">
                            <h2>
                            </h2>
                        </div>
                    </div>
                </div>                    
            </td>
        </tr>
    </tbody>
</table>
