<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Data ANY>
<!ATTLIST Data id ID #REQUIRED>
<!ELEMENT Gymnast ANY>
<!ATTLIST Gymnast id ID #REQUIRED>
<!ELEMENT Notification ANY>
<!ATTLIST Notification id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>
<!ELEMENT Section ANY>
<!ATTLIST Section id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>
<!ELEMENT Template ANY>
<!ATTLIST Template id ID #REQUIRED>
<!ELEMENT TemplateMessage ANY>
<!ATTLIST TemplateMessage id ID #REQUIRED>
<!ELEMENT TemplateWorkout ANY>
<!ATTLIST TemplateWorkout id ID #REQUIRED>
<!ELEMENT Workout ANY>
<!ATTLIST Workout id ID #REQUIRED>

]>
<root id="-1">
  <Site id="1065" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-05-24T14:35:14" updateDate="2013-07-25T11:39:33" nodeName="Site" urlName="site" path="-1,1065" isDoc="" nodeType="1057" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="0">
    <Page id="1084" parentID="1065" level="2" writerID="0" creatorID="0" nodeType="1058" template="1046" sortOrder="0" createDate="2013-05-24T15:20:17" updateDate="2013-06-24T17:32:08" nodeName="Home" urlName="home" writerName="Saulo Tsuchida Cruz" creatorName="Saulo Tsuchida Cruz" path="-1,1065,1084" isDoc="">
      <isHeaderNavigation>1</isHeaderNavigation>
      <title>Home Page</title>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body><![CDATA[<div class="bs-docs-example">
<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
</div>]]></body>
      <isFooterNavigation>0</isFooterNavigation>
      <linkName>Home</linkName>
      <linkColor>5c9ccc</linkColor>
      <umbracoRedirect>
      </umbracoRedirect>
      <umbracoUrlName>
      </umbracoUrlName>
      <umbracoUrlAlias>
      </umbracoUrlAlias>
      <umbracoInternalRedirectId>
      </umbracoInternalRedirectId>
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoPermanentRedirect>
      </umbracoPermanentRedirect>
      <form>
      </form>
      <images>1094,1093,1092,1091,1090,1089,1088,1087</images>
      <externalRedirect>
      </externalRedirect>
      <subTitle>
      </subTitle>
      <seoTitle>
      </seoTitle>
    </Page>
    <logo>/media/105/logo.png</logo>
    <city>City</city>
    <state>State</state>
    <zipCode>Zip Code</zipCode>
    <address><![CDATA[Address]]></address>
    <phone>Phone</phone>
    <fax>Fax</fax>
    <slogan>Slogan</slogan>
    <favicon>/media/113/favicon.png</favicon>
    <longitude />
    <latitude />
    <footer />
    <facebook>https://www.facebook.com/</facebook>
    <twitter>https://twitter.com/</twitter>
    <linkedIn>http://www.linkedin.com/</linkedIn>
    <google>https://plus.google.com/</google>
    <umbracoUrlName />
    <umbracoUrlAlias />
    <umbracoInternalRedirectId />
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoPermanentRedirect />
    <umbracoRedirect />
    <header />
  </Site>
  <Section id="1064" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-05-24T14:35:05" updateDate="2013-07-25T11:39:34" nodeName="Section" urlName="section" path="-1,1064" isDoc="" nodeType="1062" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="1049">
    <Section id="1066" parentID="1064" level="2" writerID="0" creatorID="0" nodeType="1062" template="1049" sortOrder="0" createDate="2013-05-24T14:36:22" updateDate="2013-05-24T16:03:10" nodeName="Topic" urlName="topic" writerName="Saulo Tsuchida Cruz" creatorName="Saulo Tsuchida Cruz" path="-1,1064,1066" isDoc="" />
    <Section id="1096" parentID="1064" level="2" writerID="0" creatorID="0" nodeType="1062" template="1049" sortOrder="1" createDate="2013-05-24T16:02:55" updateDate="2013-05-24T16:03:11" nodeName="Chat" urlName="chat" writerName="Saulo Tsuchida Cruz" creatorName="Saulo Tsuchida Cruz" path="-1,1064,1096" isDoc="" />
    <Section id="1097" parentID="1064" level="2" writerID="0" creatorID="0" nodeType="1062" template="1049" sortOrder="2" createDate="2013-05-24T16:03:04" updateDate="2013-05-24T16:03:11" nodeName="Repository" urlName="repository" writerName="Saulo Tsuchida Cruz" creatorName="Saulo Tsuchida Cruz" path="-1,1064,1097" isDoc="" />
    <Section id="1106" parentID="1064" level="2" writerID="0" creatorID="0" nodeType="1062" template="1049" sortOrder="3" createDate="2013-06-14T11:17:30" updateDate="2013-06-14T11:17:46" nodeName="Measurement" urlName="measurement" writerName="Saulo Tsuchida Cruz" creatorName="Saulo Tsuchida Cruz" path="-1,1064,1106" isDoc="" />
    <Section id="1107" parentID="1064" level="2" writerID="0" creatorID="0" nodeType="1062" template="1108" sortOrder="4" createDate="2013-06-17T13:15:27" updateDate="2013-06-17T14:47:59" nodeName="Dashboard" urlName="dashboard" writerName="Saulo Tsuchida Cruz" creatorName="Saulo Tsuchida Cruz" path="-1,1064,1107" isDoc="" />
    <Section id="1109" parentID="1064" level="2" writerID="0" creatorID="0" nodeType="1062" template="1049" sortOrder="5" createDate="2013-06-17T14:47:40" updateDate="2013-06-17T14:47:49" nodeName="Workout" urlName="workout" writerName="Saulo Tsuchida Cruz" creatorName="Saulo Tsuchida Cruz" path="-1,1064,1109" isDoc="" />
  </Section>
</root>