<!DOCTYPE root[<!ELEMENT Section ANY>
<!ATTLIST Section id ID #REQUIRED>
 
<!ELEMENT Administration ANY>
<!ATTLIST Administration id ID #REQUIRED>
<!ELEMENT Data ANY>
<!ATTLIST Data id ID #REQUIRED>
<!ELEMENT Gymnast ANY>
<!ATTLIST Gymnast id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>
<!ELEMENT Security ANY>
<!ATTLIST Security id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>
<!ELEMENT Workout ANY>
<!ATTLIST Workout id ID #REQUIRED>

]>
<root id="-1">
  <Site id="1149" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-02-08T17:14:17" updateDate="2013-02-15T14:53:45" nodeName="Site" urlName="site" path="-1,1149" isDoc="" nodeType="1044" creatorName="admin" writerName="admin" writerID="0" template="0">
    <logo>/media/1447/logo.png</logo>
    <city>City</city>
    <state>State</state>
    <zipCode>Zip Code</zipCode>
    <address><![CDATA[Address]]></address>
    <phone>Phone</phone>
    <fax>Fax</fax>
    <slogan>Slogan</slogan>
    <favicon>/media/1455/favicon.png</favicon>
    <longitude />
    <latitude />
    <footer><![CDATA[<p>Esto es el Footer del Home</p>]]></footer>
    <facebook>https://www.facebook.com/</facebook>
    <twitter>https://twitter.com/</twitter>
    <linkedIn>http://www.linkedin.com/</linkedIn>
    <google>https://plus.google.com/</google>
    <umbracoUrlName />
    <umbracoUrlAlias />
    <umbracoInternalRedirectId />
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoPermanentRedirect />
    <umbracoRedirect />
    <Page id="1151" parentID="1149" level="2" creatorID="0" sortOrder="0" createDate="2013-02-08T17:17:52" updateDate="2013-03-06T14:48:55" nodeName="Home" urlName="home" path="-1,1149,1151" isDoc="" nodeType="1045" creatorName="admin" writerName="admin" writerID="0" template="1157">
      <images>1105,1104,1155,1154,1153,1152</images>
      <isHeaderNavigation>1</isHeaderNavigation>
      <isFooterNavigation>0</isFooterNavigation>
      <linkName>Home</linkName>
      <linkColor>5c9ccc</linkColor>
      <title>Home Page</title>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body><![CDATA[<p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
<p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.</p>
<ul>
<li>List item one</li>
<li>List item two</li>
<li>List item three</li>
</ul>]]></body>
      <form />
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoPermanentRedirect />
    </Page>
    <Page id="1162" parentID="1149" level="2" creatorID="0" sortOrder="1" createDate="2013-02-12T11:57:26" updateDate="2013-02-15T14:53:45" nodeName="Client" urlName="client" path="-1,1149,1162" isDoc="" nodeType="1045" creatorName="admin" writerName="admin" writerID="0" template="1163">
      <images />
      <isHeaderNavigation>0</isHeaderNavigation>
      <isFooterNavigation>0</isFooterNavigation>
      <linkName />
      <linkColor />
      <title />
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body><![CDATA[<h1>Client Page Content</h1>]]></body>
      <form />
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoPermanentRedirect />
    </Page>
    <Page id="1165" parentID="1149" level="2" creatorID="0" sortOrder="2" createDate="2013-02-12T12:35:20" updateDate="2013-02-15T14:53:45" nodeName="MessageBoard" urlName="messageboard" path="-1,1149,1165" isDoc="" nodeType="1045" creatorName="admin" writerName="admin" writerID="0" template="1164">
      <images />
      <isHeaderNavigation>0</isHeaderNavigation>
      <isFooterNavigation>0</isFooterNavigation>
      <linkName />
      <linkColor />
      <title>Message Board</title>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body><![CDATA[<h1>Message Board Content</h1>]]></body>
      <form />
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoPermanentRedirect />
    </Page>
    <Page id="1166" parentID="1149" level="2" creatorID="0" sortOrder="3" createDate="2013-02-13T14:38:21" updateDate="2013-02-15T14:53:45" nodeName="Post" urlName="post" path="-1,1149,1166" isDoc="" nodeType="1045" creatorName="admin" writerName="admin" writerID="0" template="1168">
      <images />
      <isHeaderNavigation>0</isHeaderNavigation>
      <isFooterNavigation>0</isFooterNavigation>
      <linkName />
      <linkColor />
      <title>Post Comments</title>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body><![CDATA[<h1>Post Comment Content Page</h1>]]></body>
      <form />
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoPermanentRedirect />
    </Page>
    <Page id="1172" parentID="1149" level="2" creatorID="0" sortOrder="4" createDate="2013-02-14T15:08:45" updateDate="2013-02-15T14:53:45" nodeName="Exercise" urlName="exercise" path="-1,1149,1172" isDoc="" nodeType="1045" creatorName="admin" writerName="admin" writerID="0" template="1170">
      <images />
      <isHeaderNavigation>0</isHeaderNavigation>
      <isFooterNavigation>0</isFooterNavigation>
      <linkName />
      <linkColor />
      <title>Trainer Exercise Repository</title>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body><![CDATA[<h1>Trainer Exercise Repository</h1>]]></body>
      <form />
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoPermanentRedirect />
    </Page>
    <Page id="1173" parentID="1149" level="2" creatorID="0" sortOrder="5" createDate="2013-02-14T15:08:55" updateDate="2013-02-15T14:53:45" nodeName="Workout" urlName="workout" path="-1,1149,1173" isDoc="" nodeType="1045" creatorName="admin" writerName="admin" writerID="0" template="1171">
      <images />
      <isHeaderNavigation>0</isHeaderNavigation>
      <isFooterNavigation>0</isFooterNavigation>
      <linkName />
      <linkColor />
      <title>Trainer Workout Repository</title>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body><![CDATA[<h1>Trainer Workout Repository</h1>]]></body>
      <form />
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoPermanentRedirect />
    </Page>
    <Page id="1179" parentID="1149" level="2" creatorID="0" sortOrder="6" createDate="2013-02-15T14:39:55" updateDate="2013-02-15T14:41:15" nodeName="Test" urlName="test" path="-1,1149,1179" isDoc="" nodeType="1045" creatorName="admin" writerName="admin" writerID="0" template="1178">
      <images />
      <isHeaderNavigation>0</isHeaderNavigation>
      <isFooterNavigation>0</isFooterNavigation>
      <linkName />
      <linkColor />
      <title />
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body><![CDATA[]]></body>
      <form />
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoPermanentRedirect />
    </Page>
    <Page id="1184" parentID="1149" level="2" creatorID="0" sortOrder="6" createDate="2013-02-15T14:48:02" updateDate="2013-02-15T14:53:45" nodeName="Raul" urlName="raul" path="-1,1149,1184" isDoc="" nodeType="1045" creatorName="admin" writerName="admin" writerID="0" template="1182">
      <images />
      <isHeaderNavigation>0</isHeaderNavigation>
      <isFooterNavigation>0</isFooterNavigation>
      <linkName />
      <linkColor />
      <title />
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body><![CDATA[]]></body>
      <form />
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoPermanentRedirect />
    </Page>
    <Section id="1260" parentID="1149" level="2" creatorID="0" sortOrder="7" createDate="2013-05-24T09:31:05" updateDate="2013-05-24T09:52:45" nodeName="Section" urlName="section" path="-1,1149,1260" isDoc="" nodeType="1259" creatorName="admin" writerName="admin" writerID="0" template="1264">
      <Section id="1261" parentID="1260" level="3" creatorID="0" sortOrder="0" createDate="2013-05-24T09:31:14" updateDate="2013-05-24T09:54:43" nodeName="Chat" urlName="chat" path="-1,1149,1260,1261" isDoc="" nodeType="1259" creatorName="admin" writerName="admin" writerID="0" template="1264" />
      <Section id="1262" parentID="1260" level="3" creatorID="0" sortOrder="1" createDate="2013-05-24T09:31:21" updateDate="2013-05-24T09:52:45" nodeName="Topic" urlName="topic" path="-1,1149,1260,1262" isDoc="" nodeType="1259" creatorName="admin" writerName="admin" writerID="0" template="1264" />
      <Section id="1263" parentID="1260" level="3" creatorID="0" sortOrder="2" createDate="2013-05-24T09:31:32" updateDate="2013-05-24T09:52:45" nodeName="Measurement" urlName="measurement" path="-1,1149,1260,1263" isDoc="" nodeType="1259" creatorName="admin" writerName="admin" writerID="0" template="1264" />
    </Section>
  </Site>
  <Section id="1064" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-05-24T14:35:05" updateDate="2013-05-24T16:03:10" nodeName="Section" urlName="section" path="-1,1064" isDoc="" nodeType="1062" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="1049">
    <Section id="1066" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2013-05-24T14:36:22" updateDate="2013-05-24T16:03:10" nodeName="Topic" urlName="topic" path="-1,1064,1066" isDoc="" nodeType="1062" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="1095" />
    <Section id="1096" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2013-05-24T16:02:55" updateDate="2013-05-24T16:03:11" nodeName="Chat" urlName="chat" path="-1,1064,1096" isDoc="" nodeType="1062" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="1049" />
    <Section id="1097" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2013-05-24T16:03:04" updateDate="2013-05-24T16:03:11" nodeName="Repository" urlName="repository" path="-1,1064,1097" isDoc="" nodeType="1062" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="1049" />
    <Section id="1106" parentID="1064" level="2" creatorID="0" sortOrder="3" createDate="2013-06-14T11:17:30" updateDate="2013-06-14T11:17:46" nodeName="Measurement" urlName="measurement" path="-1,1064,1106" isDoc="" nodeType="1062" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="1049" />
    <Section id="1109" parentID="1064" level="2" creatorID="0" sortOrder="5" createDate="2013-06-17T14:47:40" updateDate="2013-06-17T14:47:49" nodeName="Workout" urlName="workout" path="-1,1064,1109" isDoc="" nodeType="1062" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="1049" />
    <Section id="1107" parentID="1064" level="2" creatorID="0" sortOrder="4" createDate="2013-06-17T13:15:27" updateDate="2013-06-17T14:47:59" nodeName="Dashboard" urlName="dashboard" path="-1,1064,1107" isDoc="" nodeType="1062" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="1108" />
  </Section>
  <Site id="1065" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2013-05-24T14:35:14" updateDate="2013-05-24T15:31:13" nodeName="Site" urlName="site" path="-1,1065" isDoc="" nodeType="1057" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="0">
    <Page id="1084" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2013-05-24T15:20:17" updateDate="2013-06-24T17:32:08" nodeName="Home" urlName="home" path="-1,1065,1084" isDoc="" nodeType="1058" creatorName="Saulo Tsuchida Cruz" writerName="Saulo Tsuchida Cruz" writerID="0" template="1046">
      <isHeaderNavigation>1</isHeaderNavigation>
      <isFooterNavigation>0</isFooterNavigation>
      <linkName>Home</linkName>
      <linkColor>5c9ccc</linkColor>
      <title>Home Page</title>
      <keywords><![CDATA[]]></keywords>
      <description><![CDATA[]]></description>
      <body><![CDATA[<div class="bs-docs-example">
<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
</div>]]></body>
      <form />
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoPermanentRedirect />
      <images>1094,1093,1092,1091,1090,1089,1088,1087</images>
    </Page>
    <logo>/media/105/logo.png</logo>
    <city>City</city>
    <state>State</state>
    <zipCode>Zip Code</zipCode>
    <address><![CDATA[Address]]></address>
    <phone>Phone</phone>
    <fax>Fax</fax>
    <slogan>Slogan</slogan>
    <favicon>/media/113/favicon.png</favicon>
    <longitude />
    <latitude />
    <footer><![CDATA[]]></footer>
    <facebook>https://www.facebook.com/</facebook>
    <twitter>https://twitter.com/</twitter>
    <linkedIn>http://www.linkedin.com/</linkedIn>
    <google>https://plus.google.com/</google>
    <umbracoUrlName />
    <umbracoUrlAlias />
    <umbracoInternalRedirectId />
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoPermanentRedirect />
    <umbracoRedirect />
  </Site>
</root>